
Ul.nav-bar{background-color:darkgrey;margin:0;padding:0 }
Ul.nav-bar
li{list-style-type:none;float: right; }
Ul.nav-bar li a{padding:5px;scroll-margin-left:15px ;color:black}
Ul.nav-bar li a :hover{color:yellow}
h3 {color:orange }

.button {
  border: none;
  color:darkgray;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
div{
  background-image:url("https://tse4.mm.bing.net/th?id=OIP.bfdXvZOsBc0kjtdHrrq4NgHaDX&pid=Api&P=0&w=363&h=166");
  
}
body {
  background-image: url("https://tse3.mm.bing.net/th?id=OIP.cHti3kYYzLyvVwkZcnBqeQHaLH&pid=Api&P=0&w=300&h=300");
}
body {
    background-color:lightgrey;
  }

.pagination {
  display: inline-block;
}


.pagination a {
  color: black;
  float: centre;
  padding: 8px 16px;
  text-decoration: none;
}




